.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
    margin-bottom: 10px;
}

.svg-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}

.legend-text {
    text-anchor: start;
    font-size: large;
}

.rect-legend-text {
    font-size: small;
}

.hover-over-callout-text {
    font-size:small;
}

.bottom-main-text {
    font-size: large;
}

.introductory-text {
    font-size: large;
    text-anchor: middle;
}

.dead-so-far-text {
    text-anchor: end;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.tooltip-container {
    background-color: #faf0e6;
    border: 1px solid grey;
    padding: 8px;
    font-size: medium;
}

.tooltip-svg {
    position: absolute;
    top: 16px;
    left: 9px;
}

.tooltip-age-range {
    margin-left: 16px;
}

img + em {
    display: flex;
    justify-content: center;
    font-size: medium;
    margin-top: 6px;
}